body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #F6F1D1;
    background-color: #0b2027;
}

input[type=button] {
    background-color: #753742; /* Green */
    border-radius: 5px;
    border: none;
    color: #F6F1D1;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#calculator {
    margin: 5px;
}

.homepage {
    background-size: contain;
    background-image: url("images/boston.jpg");
    background-color: #40798C;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.homepage_text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F6F1D1;
}

.about_us {
    margin: 5px;
    background-color: #70A9A1;
    height: 100vh;
}

.material_box{
    border: none;
    border-radius: 5px;
    background-color: #40798C;
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
    padding: 10px;
    margin: 30px;
}
